@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Montserrat&display=swap");
.App {
  font-family: "Montserrat", sans-serif;
}

.nav {
  height: 10vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: blueviolet;
  border-radius: 0px 0px 0px 29px;
  margin-bottom: 3rem;
  margin-left: 0px;
  color: white;
  text-align: center;
  font-size: 2rem;
}
ol {
  list-style: none;
  display: inline-flex;
}
li {
  list-style: none;
  font-size: 1.5rem;
}

#root {
  margin: 2rem;
  padding: 10px;

  text-align: center;
  background-repeat: no-repeat;
  background-position: relative;
  height: 40rem;
  /* background-color: red; */
}
body {
  margin: 0px;
}
.nav {
  font-size: 2rem;
}
footer {
  background-color: blueviolet;
  border-radius: 0px 0px 0px 0px;
  height: 25vh;
  margin-left: 0px;
  color: white;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 10px;
}
#list li {
  border: 1px solid blueviolet;
  padding: 5px;
  margin: auto;
  max-width: 350px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  height: auto;
  text-align: center;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.972);
}
body {
  background-image: url("https://cdn.psychologytoday.com/sites/default/files/styles/image-article_inline_full/public/field_blog_entry_teaser_image/2017-10/ironman2.jpeg?itok=13KjpfCV");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}
button {
  border-radius: 0.5rem;
  border: 1px solid blueviolet;
  margin: 0.2rem;
  padding: 0.7rem;
  color: white;
  background: transparent;
}
.a:hover {
  background-color: blueviolet;
}
h1 {
  color: darkgrey;
}
